// サイト全体で要素そのもののデフォルトスタイル

// Normalize.scss
@import "_normalize";

input[type="submit"] {
   appearance: none;
   -webkit-appearance: none;
   border-radius: 0;
}

// #################
// BaseになるCSS
// #################

// 各色などの変数
$themeCo: #29abe2;

// ブレイクポイント
$small: "min-width: 481px";
$middle: "min-width: 660px";// 768

body {
  font-family: "游ゴシック", YuGothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  background-color: #fdfdfd;
  font-size: 15px;
  color: #565656;
}

a {
  text-decoration: none;
  color: $themeCo;

  &:hover {
    text-decoration: underline;
  }
}

p {line-height: 1.8em;}
