.l-global-header {
  padding: 0 1em;
}

.l-logo-area {
  text-align: center;
  margin-bottom: 20px;

  .logo {
    margin-bottom: 0;
    -webkit-margin-after: 0;
  }
  p {margin-top: -10px;}
}

.l-contents {
  padding: 0 1em;
}

.l-entry-area {
  padding: 30px 0 15px;
  border-bottom: 1px solid #ededed;

  &:last-of-type {
    border-bottom: none;
  }
}

@media screen and (min-width:768px) {
  .l-entry-area {
    @include clearfix;
  }

  .eyecatch {
    width: 30%;
    float: left;
  }

  .entry-content {
    width: 67%;
    padding-left: 3%;
    float: left;
  }
}

.l-archives-pager {
  margin: 15px 0;
  text-align: center;
}

.l-footer-contents {
  padding: 0 1em;
}