// フルードイメージ
img {
  max-width: 100%;
  height: auto;
}

// リストをリセットするスタイル
@mixin reset-list {
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  list-style-type: none;
}

.l-global-nav {
  ul {
    @include reset-list;
  }
}

.postedtime {
  margin: 0;
}

.entry-title {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0;
}

.entry-data-lists {
  @include clearfix;
  @include reset-list;

  li {float: left;}
}

.category {
  margin-right: .6em;
  border-radius: 7px;
  background: $themeCo;

  a {
    color: #fff;
    padding: 2px 3px;
  }
}

.page-numbers {
  color: $themeCo;
  border: 1px solid $themeCo;
  border-radius: 3px;
  padding: 5px;
  margin: 0 6px;
}

.current {
  background-color: $themeCo;
  color: #fff;
}

.popular-post {
  h2 {
    border-bottom: 3px solid $themeCo;
  }

  ol {
    @include reset-list;

    li {
      display: table;
      margin-bottom: .6em;
      border-bottom: 1px dotted #ededed;

      &:last-of-type {
        border-bottom: none;
      }

      img,
      a {
        display: table-cell;
      }

      a {
        padding-left: .6em;
        vertical-align: middle;
      }
    }
  }
}

.category-lists {
  h2 {
    border-bottom: 3px solid $themeCo;
  }

  ul {
    @include reset-list;

    li {
      margin-bottom: .6em;
      border-bottom: 1px dotted #ededed;

      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}

.author {
  h2 {
    border-bottom: 2px solid $themeCo;
  }
}