// フルードイメージ
img {
  max-width: 100%;
  height: auto;
}

// リストをリセットするスタイル
@mixin reset-list {
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  list-style-type: none;
}

@mixin center {
  width: 660px;
  margin: 0 auto;
}

.l-global-nav {
  ul {
    @include reset-list;

    li {
      a {font-size: .9rem;}
    }
  }
}

.l-breadcrumbs {
  @include reset-list;
}

.archive-title {
  margin-bottom: 30px;
  border-bottom: 2px solid $themeCo;
  font-size: 1.5em;
}

.entry-header {
  margin: 40px auto;
}

.entry-data-lists .tag,
.tagcloud {
  a {
    border-radius: 7px;
    border: 1px solid #fff;
    background: #fff;
    padding: 4px 9px;
    white-space: nowrap;// 途中で改行されるのを防止
    @include transition(all 0.6s ease);
    line-height: 2.5;
    text-decoration: none;
    color: $themeCo;
    font-size: .9em;

    &:hover {
      background-color: $themeCo;
      color: #fff;
    }
  }
}

.postedtime {
  margin: 0;
}

.entry-title {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 10px 0;
  line-height: 1.4;
}

.entry-data-lists {
  @include clearfix;
  @include reset-list;
  margin: 0;

  li {
    margin-right: 10px;
    float: left;
  }
}

.page-numbers {
  color: $themeCo;
  border: 1px solid $themeCo;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 5px;
  margin: 0 6px;
  @include transition(all 0.6s ease);

  &:hover {
    background: $themeCo;
    color: #fff;
  }

  &.current {
    border: 1px solid $themeCo;
    background-color: $themeCo;
    color: #fff;
  }
}

.l-single-pager {
  ul {@include reset-list;}
}

.previous,
.next {
  margin: 10px 0;

  a {
    padding: 5px 14px;
    border: 1px solid $themeCo;
    border-radius: 15px;
    @include transition(all 0.6s ease);

    &:hover {
      background: $themeCo;
      color: #fff;
    }
  }
}

.search-area {
  padding: 0 15px;
  margin-bottom: 20px;
}

@media screen and (min-width: 660px) {
  .search-area {
    width: 640px;
    margin: 0 auto;
  }
}

.search-area form {
  width: 66%;
  margin: 0 auto;
}

@media screen and (min-width: 660px) {
  .search-area form {
    width: 42%;
    margin: 0 auto 20px;
  }
}

.search-input {
  width: 74%;
  padding: 4px;
  border-radius: 7px;
  border: 1px solid #dedede;
  font-size: 16px;
}

.btn-submit {
  margin-top: -1px;
  padding: 0px 9px;
  border-radius: 6px !important;
}

.widget {
  width: 49%;

  &.isLeft {
    float: left;
  }

  &.isRight {
    float: right;
  }
}
